
TP2/parsetab.py
TP2/parser.out
TP2/__pycache__/plysimple_limpo.cpython-310.pyc
TP2/__pycache__/parsetab.cpython-310.pyc
TP2/.vscode/PythonImportHelper-v2-Completion.json
TP2/.vscode/PythonImportHelper-v2-Completion.json
TP2/__pycache__/parsetab.cpython-310.pyc
TP2/__pycache__/parsetab.cpython-39.pyc
TP2/__pycache__/plysimple_lex.cpython-39.pyc
TP2/__pycache__/plysimple_limpo.cpython-310.pyc
TP2/__pycache__/plysimple_sin.cpython-310.pyc
TP2/parser.out
TP2/parsetab.py
